.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input, button {
  font-size:larger;
  border: 1px solid grey;
}
.tweet {
  background-color:rgb(197, 88, 48);
  padding: 1px;
  margin: 1px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 2px lightgray;
}
button {
  background-color: rgb(197, 88, 48) ;
  color: antiquewhite;
  padding: 1px;
}